<h1>Generador de horarios UTEC</h1>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" id="wixDesktopViewport">        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          </li>
          <a class="nav-link" href="">Home</a>
          <a class="nav-link" href="/grupos">Registro de grupos</a>
          <a class="nav-link" href="/cicloEscolar ">Registro de ciclo escolar</a>
          <a class="nav-link" href="/usuarios">Registro de usuarios</a>
          <a class="nav-link" href="/carrera">Registro de carreras</a>
          <a class="nav-link" href="/docentes">Registro de docente</a>
          <a class="nav-link" href="/planEstudios">Registro de plan de estudios</a>
          <a class="nav-link" href="/disponibilidad">Registro de disponibilidad</a>
          <a class="nav-link" href="/ingles">Registro de horarios de ingles</a>
          
        </ul>
        <router-outlet></router-outlet>
